.react-flow__handle {
  opacity: 0;
}

.react-flow__node {
  border-color: #f57c00;
}

.react-flow__node.selected {
  color: #f57c00;
}

.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-group {
  &.selectable {
    &.selected,
    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 0.5px #f57c00;
    }
  }
}
