.churchName {
  position: relative;
  /* background: -webkit-linear-gradient(
    left,
    rgb(176, 80, 15) 0%,
    rgb(225, 116, 42) 40%,
    rgb(242, 164, 111) 80%,
    rgb(246, 190, 152) 100%
  );
  background: -o-linear-gradient(
    left,
    rgb(176, 80, 15) 0%,
    rgb(225, 116, 42) 40%,
    rgb(242, 164, 111) 80%,
    rgb(246, 190, 152) 100%
  );
  background: -moz-linear-gradient(
    left,
    rgb(176, 80, 15) 0%,
    rgb(225, 116, 42) 40%,
    rgb(242, 164, 111) 80%,
    rgb(246, 190, 152) 100%
  );
  background: linear-gradient(
    to right,
    rgb(176, 80, 15) 0%,
    rgb(225, 116, 42) 40%,
    rgb(242, 164, 111) 80%,
    rgb(246, 190, 152) 100%
  ); */
  background-image: url("../../components/Main/main_background.webp");
  background-size: cover;
  padding-top: min(6vmax, 85px);
  height: 35vmax;
  max-height: 650px;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(90deg) scale(0.7);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(90deg) scale(0.7);
  }
}

@keyframes spintoHorizontal {
  0% {
    transform: rotate(0deg) scale(1);
  }
  90% {
    transform: rotate(-95deg) scale(1.4);
  }
  100% {
    transform: rotate(-90deg) scale(1.4);
  }
}

@-webkit-keyframes spintoHorizontal {
  0% {
    transform: rotate(0deg) scale(1);
  }
  90% {
    transform: rotate(-95deg) scale(1.4);
  }
  100% {
    transform: rotate(-90deg) scale(1.4);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes goLeft {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-30%, 0);
  }
}

@-webkit-keyframes goLeft {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-30%, 0);
  }
}

@keyframes goLeftFurther {
  from {
    transform: translate(-30%, 0);
  }
  to {
    transform: translate(-65%, 0);
  }
}

@-webkit-keyframes goLeftFurther {
  from {
    transform: translate(-30%, 0);
  }
  to {
    transform: translate(-65%, 0);
  }
}

@keyframes goRight {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50%, 0);
  }
}

@-webkit-keyframes goRight {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50%, 0);
  }
}

@keyframes goRightFurther {
  from {
    transform: translate(50%, 0);
  }
  to {
    transform: translate(120%, 0);
  }
}

@-webkit-keyframes goRightFurther {
  from {
    transform: translate(50%, 0);
  }
  to {
    transform: translate(120%, 0);
  }
}

.nameExplanationContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: calc(25vmax + 4vh);
  max-height: 430px;
}

.horizontalLogo {
  max-width: 400px;
  width: 21vmax;
  height: auto;
  padding-top: 4vh;
  padding-bottom: 4vh;
  animation: spin 4s ease-in-out 2s 1 forwards,
    fadeOut 4s ease-in-out 11s 1 forwards;
  -webkit-animation: spin 4s ease-in-out 2s 1 forwards,
    fadeOut 4s ease-in-out 11s 1 forwards;
}

.nameExplanation {
  position: absolute;
  width: 100%;
  animation: fadeOut 4s ease-in-out 2s 1 forwards;
  -webkit-animation: fadeOut 4s ease-in-out 2s 1 forwards;
}

.nameExplanation2 {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  justify-content: center;
  animation: fadeIn 4s ease-in-out 6s 1 forwards,
    fadeOut 4s ease-in-out 10s 1 forwards;
  -webkit-animation: fadeIn 4s ease-in-out 6s 1 forwards,
    fadeOut 4s ease-in-out 10s 1 forwards;
}

.nameExplanation3 {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1500px;
  display: flex;
  align-items: center;
  opacity: 0;
  justify-content: center;
  animation: fadeIn 4s ease-in-out 14s 1 forwards;
  -webkit-animation: fadeIn 4s ease-in-out 14s 1 forwards;
}

.edmonton {
  animation: goLeft 4s ease-in-out 16s 1 forwards,
    goLeftFurther 4s ease-in-out 20s 1 forwards;
  -webkit-animation: goLeft 4s ease-in-out 16s 1 forwards,
    goLeftFurther 4s ease-in-out 20s 1 forwards;
}

.verticalLogo {
  position: absolute;
  left: 50.5%;
  opacity: 0;
  max-width: 5vmax;
  animation: fadeIn 4s ease-in-out 16.5s 1 forwards,
    spintoHorizontal 4s ease-in-out 20s 1 forwards;
  -webkit-animation: fadeIn 4s ease-in-out 16.5s 1 forwards,
    spintoHorizontal 4s ease-in-out 20s 1 forwards;
}

.church {
  animation: goRight 4s ease-in-out 16s 1 forwards,
    goRightFurther 4s ease-in-out 20s 1 forwards;
  -webkit-animation: goRight 4s ease-in-out 16s 1 forwards,
    goRightFurther 4s ease-in-out 20s 1 forwards;
}

.churchName > .learnMoreAbtChurch {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

.cards {
  max-width: 1536px;
  margin-top: 5vh;
  margin-bottom: 3vh;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

/* .cards > Card {
  margin: 2vh;
  margin-right: 5%;
} */

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 850px) {
  .cards {
    flex-direction: column;
  }

  .cards > card {
    margin: 4vh;
  }
} */
