.slider {
  height: 50vh;
  max-height: 650px;
}

@media only screen and (min-width: 900px) {
  .slider {
    height: 60vh;
  }
}

.churchName {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url("../../components/Main/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.churchName > .learnMoreAbtChurch {
  position: absolute;
  bottom: 16px;
}

.cards {
  max-width: 1536px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
