.weeklyBulletinBoard {
  margin: auto;
  align-items: center;
  padding-bottom: 3vh;
}

.page {
  display: flex;
  justify-content: center;
}

#previousBulletin {
  margin-right: 20px;
}

#previousBulletin :hover {
  color: orange;
}

#nextBulletin {
  margin-left: 20px;
}

#nextBulletin :hover {
  color: orange;
}

#uploadBulletinButton {
  position: fixed;
  right: 2vw;
  bottom: 3vh;
}
