@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: 'NanumSquare', sans-serif;
  text-decoration: none;
}

/*Desktop View*/
.header {
    position: relative;
    z-index: 100;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 70px;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    padding-left: 45px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    list-style-type: none;
  }
  .mobile-option {
    display: none;
  }

  .option :hover {
    color: orange;
  }
  .signin-up {
    display: flex;
    padding: 0px 5px;
    list-style-type: none;
    margin-left: auto;
    margin-right: 0; 
  }
  .sign-in {
    padding-right: 25px;
    align-self: center;
  }
  .sign-in :hover {
    color: orange;
  }
  .signup-btn {
    background-color: orange;
    padding: 10px 10px;
    height: 2.4rem;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  @media (max-width: 775px) {
    /*Mobile View */
    .header {
      /* width: 90%; */
      padding: 20px 25px;
    }
    .logo {
      width: 45px;
      height: 45px;
    }
    .nav-options {   
      background-color: white;
      display: flex;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }
    .nav-options.active {
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      align-content: center;
      padding-left: 0px;
    }
  
    .menu-icon {
      width:35px;
      height: 35px;
      margin-right: 10px;
    }
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
    }
    .sign-up {
      border-radius: 3px;
      padding: 20px 0px;
      width: 80%;
      align-self: center;
      border-radius: 3px;
    }
  
    .signin-up {
      display: none;
    }
  }
  .mobile-menu {
    display: block;
  }