/* .board {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} */

.MuiPagination-ul {
  margin-top: 30px;
  justify-content: center;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}
