.main {
  position: relative;
  height: 80%;
  width: 100%;
  max-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
}

.video {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2em;
  padding-top: 2.5em;
  box-sizing: border-box;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 50%;
}

iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}
