.section {
  display: flex !important;
  justify-content: center;
  background-image: var(--bg-image);
  background-position: var(--bg-pos, center);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--bg-tint, 0.3));
  z-index: -1;
}

#section1 {
  display: flex;
  --bg-image: url("/img/About/FirstStep.webp");
  --bg-pos: 83%;
}

#section2 {
  --bg-image: url("/img/About/Calling.webp");
  --bg-pos: 35%;
}

#section3 {
  --bg-image: url("img/About/Direction.webp");
}

@media (max-height: 915px) {
  .lovegod {
    height: max(33vh, 14em) !important;
    overflow-y: auto;
  }
}

#section4 {
  --bg-image: url("/img/About/Servers.webp");
  --bg-pos: 0;
}

#section5 {
  --bg-image: url("/img/About/AboutUs.webp");
  --bg-pos: center 55%;
  --bg-tint: 0.6;
}

.sectionBody,
.section4Body,
.section5Body {
  z-index: 2; /* Higher than the :before's z-index */
}

.sectionBody {
  max-width: 1500px;
  margin: auto;
  padding: 0 5vw;
}

.section4Body {
  height: 100vh;
  padding: 0;
}

.section5Body {
  margin: 0 1em;
  padding: 2.5em 0;
}
