#section1 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../../components/AboutUs/img/FirstStep.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 83%;
}

#section2 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../../components/AboutUs/img/Calling.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35%;
}

#section3 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../../components/AboutUs/img/Direction.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-height: 915px) {
  .lovegod {
    height: max(33vh, 14em) !important;
    overflow-y: auto;
  }
}

#section4 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../components/AboutUs/img/Servers.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

#section5 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../components/AboutUs/img/AboutUs.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 55%;
}

.sectionBody {
  max-width: 1500px;
  margin: auto;
  padding: 0 5vw;
}

.section4Body {
  max-width: 1500px;
  height: 100vh;
  padding: 0;
}

.section5Body {
  margin: 0 1em;
  padding: 2.5em 0;
}
