.title {
  position: relative;
  background-image: url("KidsOnGoodSoil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vmax;
  max-height: 650px;
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
