.title {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("KidsOnGoodSoil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35%;
  height: 30vmax;
  padding-top: min(5vmax, 79px);
  max-height: 650px;
}

.titleContent {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
  margin-top: 18pt;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
