.title {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35%;
  height: max(20vmax, 400px);
  padding-top: min(5vmax, 79px);
  max-height: 650px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.titleContent {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  justify-content: center;
  padding-left: inherit;
  padding-right: inherit;
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
  margin-top: 18pt;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
