/* @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css); */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquareNeo@1.0/nanumsquareneo.css);

body {
  word-break: keep-all;
  font-family: "NanumSquareNeoVariable", sans-serif;
  text-align: center;
  margin: auto;
}
