@font-face {
  font-family: "NanumSquareNeoVariable";
  src: url(NanumSquareNeo-Variable.eot);
  src: local("☺"),
    url(NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"),
    url(NanumSquareNeo-Variable.woff2) format("woff2"),
    url(NanumSquareNeo-Variable.woff) format("woff"),
    url(NanumSquareNeo-Variable.ttf) format("truetype");
}

body {
  word-break: keep-all;
  font-family: "NanumSquareNeoVariable", sans-serif;
  text-align: center;
  margin: auto;
}
