@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

body {
  word-break: keep-all;
  font-family: "NanumSquare", sans-serif;
  text-align: center;
  /* width: 85%;
  max-width: 1900px; */
  margin: auto;
}
