/* body {
  color: white;
} */

#section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../../components/About/img/FirstStep.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 83%;
}

.section1Body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 5vw;
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%); */
}

#section2 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../../components/About/img/Calling.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35%;
}

.section2Body {
  max-width: 1500px;
  margin: auto;
  padding: 0 5vw;
}

#section3 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../../components/About/img/Direction.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section3Body {
  max-width: 1500px;
  /* height: fit-content; */
  margin: auto;
  padding: 0 5vw;
}

#section4 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../components/About/img/AboutUs.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 85%;
}

#slider {
  /* display: inline-flex; */
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateY(-50%);
}

#section5 {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../components/About/img/Servers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section5Body {
  max-width: 1500px;
  height: 100vh;
  margin: auto;
}

.serversPicture {
  height: max-content;
  width: max-content;
  border-radius: 0.7rem;
  /* border-style: solid;
  border-color: white; */
  border-width: 0;
  background-color: white;
  margin: auto;
}

.section4Body {
  margin: 0 4vw;
  padding: 10vh 0;
}
